[submodule "Materov23-package"]
	path = Materov23-package
	url = https://github.com/Vibhav-Gopal/stabilize
[submodule "localization"]
	path = localization
	url = https://github.com/Vibhav-Gopal/localization
[submodule "stabilization"]
	path = stabilization
	url = https://github.com/Vibhav-Gopal/stabilize
